@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'DelaGothicOne';
    font-weight: 400;
    src: url(../fonts/DelaGothicOne-Regular.ttf);
}

:root {
    --dark-gray: #757575;
    --light-gray: #F6F5F4;
    --black: #000000;
    --dark-cyan: #2B788B;
    --light-cyan: #C3DCE3;
    --dark-pink: #945069;
    --light-pink: #F2D4DC;
}

.container {
    width: 1180px;
    padding: 0 15px;
    margin: 0 auto;
    border: 2px solid #ff0000;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'DelaGothicOne', sans-serif;
}

a {
    text-decoration: none;
}

.header-wrap {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-site {
    display: flex;
    flex-grow: 1;
    gap: 30px;
}

.nav-link-site {
    font-weight: 600;
    font-size: 16px;

    color: var(--dark-gray);
}

.nav-link-site:hover {
    color: var(--black);
}

.nav-link-first {
    padding-left: 30px;
    border-left: 1px solid var(--light-gray);
}

.account-settings {
    display: flex;
    gap: 20px;
}

.account-name {
    font-weight: 600;
    font-size: 16px;
    padding-right: 30px;

    color: var(--dark-gray);
}

.account-sign-out {
    font-weight: 700;
    font-size: 16px;
    padding-top: 16px;

    color: var(--black);
}

.card-1 {
    background-color: var(--light-gray);
}

.card-1-wrap {
    display: flex;
    align-items: center;
}

.information-platform {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 95px;

    color: var(--dark-cyan);
}

.information-name {
    font-weight: 400;
    font-size: 56px;
    margin-top: 24px;
    margin-bottom: 30px;
}

.information-description {
    font-weight: 600;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 32px;

    color: var(--dark-gray);
}

.platform-button {
    font-weight: 700;
    font-size: 16px;

    color: var(--dark-cyan);
    background-color: var(--light-cyan);

    border-width: 0px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 100px;
}

.interactive-cards-collection {
    display: flex;
}

.interactive-cards1 {
    display: flex;
    align-items: baseline;

    padding-right: 49px;
    border-right: 1px solid #000000;
}

.interactive-img {
    padding-right: 10px;
}

.information-text {
    display: flex;
    flex-direction: column;
}

.interactive-popular-words {
    font-weight: 400;
    font-size: 40px;
    margin: 0;
    padding-bottom: 3px;
}

.interactive-name {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

.interactive-cards2 {
    display: flex;
    align-items: baseline;

    padding-left: 49px;
}

.interactive-img2 {
    padding-right: 10px;
}

.card-2-wrap {
    display: flex;
    align-items: center;
}

.png-people2 {
    margin-top: 77px;
    margin-bottom: 77px;
}

.interactive-text2 {
    display: flex;
    flex-direction: column;
}

.interactive-popular-words2 {
    font-weight: 400;
    font-size: 40px;
    margin: 0;
    padding-bottom: 3px;
}

.interactive-name2 {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

.information-name2 {
    font-weight: 400;
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.information-description2 {
    color: var(--dark-gray);
    font-weight: 600;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.interactive-cards3 {
    background-color: var(--light-pink);
    border-radius: 14px;
    margin-right: 21px;
    display: inline-flex;
    flex-direction: column;
}

.interactive-name3 {
    font-weight: 700;
    font-size: 16px;
    text-align: center;

    color: var(--dark-pink);
    margin-left: 34px;
    margin-right: 34px;
    margin-bottom: 14px;
    margin-top: 9px;
}

.interactive-cards4 {
    background-color: var(--light-cyan);
    border-radius: 14px;
    display: inline-flex;
    flex-direction: column;
}

.interactive-img4 {
    padding-right: 40px;
    padding-left: 40px;
}

.interactive-name4 {
    font-weight: 700;
    font-size: 16px;
    text-align: center;

    color: var(--dark-cyan);
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 14px;
    margin-top: 9px;
}

.card-3 {
    background-color: var(--light-gray);
}

.card-3-wrap {
    display: flex;
    align-items: center;
}

.information-name3 {
    font-weight: 400;
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.information-description3 {
    color: var(--dark-gray);
    font-weight: 600;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 34px;
}

.png-people3 {
    margin-top: 26px;
}

.card-4-wrap {
    display: flex;
    align-items: center;
}

.png-people4 {
    margin-top: 95px;
    margin-bottom: 95px;
}

.information-name4 {
    font-weight: 400;
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.information-description4 {
    color: var(--dark-gray);
    font-weight: 600;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 34px;
}

.footer {
    background-color: var(--light-gray);

    margin-top: 40px;
    margin-bottom: 40px;
}

.nav-link-footer {
    display: flex;
    justify-content: space-between;
}

.footer-line {
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-site2 {
    display: flex;
    gap: 30px;
}

.nav-link-site2 {
    font-weight: 600;
    font-size: 14px;

    color: var(--dark-gray);
}

.nav-author {
    display: flex;
    gap: 30px;
}

.nav-link-author {
    font-weight: 600;
    font-size: 14px;

    color: var(--dark-gray);
}

.license {
    display: flex;
    justify-content: space-between;
}

.logo-collection {
    display: flex;
    gap: 30px;
}

.copyright {
    font-weight: 600;
    font-size: 12px;

    color: var(--dark-gray);
}