@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'DelaGothicOne';
    font-weight: 400;
    src: url(../fonts/DelaGothicOne-Regular.ttf);
}

:root {
    --dark-gray: #757575;
    --light-gray: #F6F5F4;
    --black: #000000;
    --white: #FFFFFF;
    --dark-cyan: #2B788B;
    --light-cyan: #C3DCE3;
    --dark-pink: #945069;
    --light-pink: #F2D4DC;
    --green: #639B6D;
    --light-green: #639B6D4D;
    --dark-yellow: #C4A24C;
    --light-yellow: #C4A24C4D;
    --dark-red: #CB5B43;
    --light-red: #CB5B434D;
}

.container {
    width: 1180px;
    padding: 0 15px;
    margin: 0 auto;
    border: 2px solid #ff0000;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light-gray);
}

.nav-site2-name,
.nav-site3-level1,
.nav-site3-level2,
.nav-site3-level3,
.nav-site3-level4,
.nav-site3-level5,
.nav-site3-level6,
.word-card-header {
    font-family: 'DelaGothicOne', sans-serif;
    font-weight: 400;
}

/* Header */
.header-wrap {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-site {
    display: flex;
    flex-grow: 1;
    gap: 30px;
}

.nav-link-site {
    font-weight: 600;
    font-size: 16px;

    color: var(--dark-gray);
}

.nav-link-site:hover {
    color: var(--black);
}

.nav-link-first {
    padding-left: 30px;
    border-left: 1px solid var(--light-gray);
}

.account-settings {
    display: flex;
    gap: 20px;
}

.account-name {
    font-weight: 600;
    font-size: 16px;
    padding-right: 30px;

    color: var(--dark-gray);
}

.account-sign-out {
    font-weight: 700;
    font-size: 16px;
    padding-top: 16px;

    color: var(--black);
}

/* Main */
.nav-site2 {
    background-color: var(--white);
    border: 2px solid var(--light-gray);
    border-radius: 14px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.nav-site2-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-site2-texbook {
    display: flex;
}

.nav-site2-name {
    font-size: 26px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav-site2-button {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-site2-game1 {
    background-color: var(--light-pink);
    color: var(--dark-pink);
    background-image: url('../images/textbook/trainers_for_button.png');
    background-repeat: no-repeat;
    background-position: left top;
    border-width: 0px;
    border-radius: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 53px;
    padding-right: 45px;
}

.nav-site2-game2 {
    background-color: var(--light-cyan);
    color: var(--dark-cyan);
    background-image: url('../images/textbook/loudspeaker_for_button.png');
    background-repeat: no-repeat;
    background-position: left top;
    border-width: 0px;
    border-radius: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 59px;
    padding-right: 37px;
}

.nav-site2-game1,
.nav-site2-game2 {
    font-size: 16px;
    font-weight: 700;
}

.nav-site2-settings {
    background-color: var(--light-gray);
    border: 0px solid var(--light-gray);
    padding: 8px;
    border-radius: 4px;
}

.nav-site3 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.nav-site3-wrap {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.nav-site3-part1,
.nav-site3-part2,
.nav-site3-part3,
.nav-site3-part4,
.nav-site3-part5,
.nav-site3-part6 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-site3-level1 {
    color: var(--black);

    font-size: 26px;
}

.nav-site3-level2,
.nav-site3-level3,
.nav-site3-level4,
.nav-site3-level5,
.nav-site3-level6 {
    color: var(--dark-gray);

    font-size: 26px;
}

.nav-site3-difucult {
    background-color: var(--green);
    color: white;
    border: 0px solid var(--green);
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.nav-site3-difucult1 {
    background-color: var(--light-green);
    color: var(--green);
    border: 0px solid var(--light-green);
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.nav-site3-difucult2 {
    background-color: var(--light-yellow);
    color: var(--dark-yellow);
    border: 0px solid var(--light-yellow);
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.nav-site3-difucult3 {
    background-color: var(--light-red);
    color: var(--dark-red);
    border: 0px solid var(--light-red);
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.nav-site3-difucult,
.nav-site3-difucult1,
.nav-site3-difucult2,
.nav-site3-difucult3 {
    font-size: 12px;
    font-weight: 600;
    margin-left: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.word-card-wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.word-card {
    background-color: var(--white);
    border-radius: 14px;
}

.word-card-wrap2 {
    display: flex;
    align-items: center;
}

.thumb {
    /* background-image: url('../images/textbook/statisctic.svg');
    background-repeat: no-repeat;
    background-position: center; */

}

.word-card-png {
    object-fit: cover;
    object-position: center;
    display: block;
}

.word-card-content {
    width: 50%;
    padding: 20px;
}

.word-card-transcription {
    font-size: 18px;
    font-weight: 600;
}

.word-card-text2 {
    color: var(--dark-gray);
}

.word-card-text,
.word-card-text2 {
    font-size: 16px;
    font-weight: 500;
}

.pagination {
    margin-top: 40px;
    margin-bottom: 100px;
}

.pagination-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.pagination-part1 {
    display: flex;
    gap: 24px;
}

.pagination-part2 {
    color: var(--dark-cyan);
}

.pagination-part3 {
    display: flex;
    gap: 24px;
}

.pagination-page-2 {
    color: var(--white);
    background-color: var(--dark-cyan);
    border: 3px solid var(--dark-cyan);
    border-radius: 100px;

    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 19px;
    padding-left: 19px;
}

.pagination-page-back,
.pagination-page-1,
.pagination-page-3,
.pagination-page-27,
.pagination-page-28,
.pagination-page-29,
.pagination-page-forward {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 19px;
    padding-left: 19px;
    color: var(--dark-cyan);
    border: 3px solid var(--dark-cyan);
    border-radius: 100px;
}

.pagination-page-27,
.pagination-page-28,
.pagination-page-29 {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 13px;
    padding-left: 13px;
}

.pagination-page-back,
.pagination-page-1,
.pagination-page-2,
.pagination-page-3,
.pagination-part2,
.pagination-page-27,
.pagination-page-28,
.pagination-page-29,
.pagination-page-forward {
    font-size: 16px;
    font-weight: 700;
}

/* Footer */
.footer {
    margin-top: 40px;
    margin-bottom: 40px;
}

.nav-link-footer {
    display: flex;
    justify-content: space-between;
}

.footer-line {
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-site4 {
    display: flex;
    gap: 30px;
}

.nav-link-site4 {
    font-weight: 600;
    font-size: 14px;

    color: var(--dark-gray);
}

.nav-author {
    display: flex;
    gap: 30px;
}

.nav-link-author {
    font-weight: 600;
    font-size: 14px;

    color: var(--dark-gray);
}

.license {
    display: flex;
    justify-content: space-between;
}

.logo-collection {
    display: flex;
    gap: 30px;
}

.copyright {
    font-weight: 600;
    font-size: 12px;

    color: var(--dark-gray);
}